.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
        inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}


.alert-transparent{
    position: absolute;
    background-color: rgba(248, 215, 218, .7);
    top: 110px;
}


.img-modal{
    padding: .5rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    filter: contrast(180%);
    filter: drop-shadow(8px 8px 10px #ccc);
}

.texto-img{
    display: inline;
    position: absolute;
    padding-top: 8rem;
    /* display: inline-block; */
    height: 100%;
    width: 100%;
    border-radius: 60%;
    color:rgba(0, 0, 0, 0);
    left: 0;
    transition: all 1s;
}

.texto-img:hover{
    /* display: block; */
    background-color: rgba(0, 0, 0, .8);
    font-size: 2rem;
    color:#fff;
}

/* .filter-form {
	background-color: #fff;
	padding: 50px 20px;
	-webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
} */

.dropdown-menu {
    width: 20rem!important;
}

.filter-form .form-group {
	position: relative;
	margin-bottom: 30px;
}

.filter-form .form-control {
	background-color: #ebecee;
	border-radius: 4px;
	border: none;
	height: 40px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #3e485c;
	font-size: 14px;
}

.filter-form .form-control::-webkit-input-placeholder {
	color: rgba(62, 72, 92, 0.3);
}

.filter-form .form-control:-ms-input-placeholder {
	color: rgba(62, 72, 92, 0.3);
}

.filter-form .form-control::placeholder {
	color: rgba(62, 72, 92, 0.3);
}

.filter-form input[type="date"].form-control:invalid {
	color: rgba(62, 72, 92, 0.3);
}

.filter-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.filter-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 4px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: rgba(62, 72, 92, 0.3);
	font-size: 14px;
}

.filter-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.filter-form .form-label {
	display: inline-block;
	color: #3e485c;
	font-weight: 700;
	margin-bottom: 6px;
	margin-left: 7px;
}

.filter-form .submit-btn {
	display: inline-block;
	color: #fff;
	background-color: #212529;
	font-weight: 700;
	padding: 14px 30px;
	border-radius: 4px;
	border: none;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.filter-form .submit-btn:hover,
.filter-form .submit-btn:focus {
	opacity: 0.9;
}

.booking-cta {
	margin-top: 80px;
	margin-bottom: 30px;
}
